/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: #f0f0f0; /* Light grey background */
  color: black; /* Black text */
  border: none; /* No borders */
  cursor: pointer; /* Cursor indicates it's clickable */
  text-align: left; /* Align text to the left */
  border-radius: 5px; /* Rounded corners for the button */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for 3D effect */
}

button:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}

.radius-input {
  margin: 20px;
  text-align: center;
}

.radius-input label {
  margin-right: 10px;
  font-weight: bold;
}

input[type="number"] {
  padding: 8px;
  width: 200px; /* Fixed width for consistency */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Larger font size for readability */
}

input[type="number"]:focus {
  border-color: #0066cc; /* Blue border on focus */
  outline: none; /* Remove default focus outline */
}
